* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(fonts/websymbols-regular-webfont.woff) format('woff'),
    url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
    url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("img/pattern.png");
}

/* HEADER */

.wrap {
    margin: 0px auto;
    /*padding-left: 100px;
    padding-right: 100px;*/

    /* Otra manera sin los paddings */
    width: 1200px;

}

#header {
    background-color: black;
    width: 100%;
    height: 70px;
    font-family: "BebasNeue";
    color: white;
    letter-spacing: 1px;
}

/* LOGO */
#logo {
    float: left;
    height: 55px;
    width: 200px;
    background-color: #37bcf9;
    border: none;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 7px;
    margin-left: 20px;
    overflow: hidden;
    transition: color 500ms, background-color 500ms;

    &:hover {
        background-color: #ccc;
        color: black;
    }

    &:hover .gear {
        animation: desplazamiento-gear 300ms linear;
        animation-iteration-count: 1;
    }

    &:hover h3 {
        animation: desplazamiento-h3 300ms linear;
        animation-iteration-count: 1;
    }
}

#logo .gear {
    display: block;
    font-family: WebSymbolsRegular;
    float: left;
    padding-left: 20px;
    padding-right: 15px;
    line-height: 52px;
    animation: rotate 2s linear infinite;
    font-size: 30px;
}


#logo h3 {
    display: block;
    float: left;
    line-height: 57px;
}

/*ANIMACIONES LOGO */

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes desplazamiento-gear {
    0% {
        position: relative;
        top: 0px;
    }
    50% {
        position: relative;
        top: 50px;
    }
    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes desplazamiento-h3 {
    0% {
        position: relative;
        left: 150px;
    }
    100% {
        position: relative;
        left: 0px;
    }
}

/* NAV LINKS */

#nav {
    font-size: 25px;
    float: right;
}

#nav ul {
    list-style: none;
}

#nav ul > li {
    line-height: 75px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

#nav ul > li a {
    display: block;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all 300ms;

    &:hover {
        color: #37bcf9;
        /*font-size: 30px; NO, esto cambia el css y
        hara que cambien los margenes, mejor usar un transform */
        transform: scale(1.2, 1.2); /* Esto no transforma el CSS */
    }
}

/* BANNER */

#banner {
    display: block;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    height: 100px;
    background: url(img/bakbaner.png);
    background-position: -200px -200px;
    margin-top: 20px;
}

#banner-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    font-family: "BebasNeue";
    letter-spacing: 2px;
    font-size: 40px;
    padding: 10px;
}

#banner-content h1 {
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 3px 4px black;
}

/* Secciones info */

#tarjetas {
    display: block;
    margin-top: 70px;
    height: 300px;
    width: 100%;
}

#tarjetas article {
    display: block;
    float: left;
    box-shadow: 0px 0px 2px gray;
    padding: 10px;
    text-align: center;
    color: #276194;
    font-family: "TrebuchetMS";
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;

    &:hover {
        background-color: black;
        color: white;
    }

    &:hover .article-icon {
        color: #37bcf9;
        animation: desplazamiento-icon-article 400ms linear 1;
    }

    &:hover h3 {
        animation: desplazamiento-header-article 400ms linear 1;
    }

    &:hover p {
        animation: desplazamiento-texto-article 400ms linear 1;
    }
}

.article-icon {
    display: block;
    font-family: WebSymbolsRegular;
    color: black;
    font-size: 55px;
    padding-top: 30px;
}

#tarjetas article h3 {
    margin: 50px 0px 30px 0px;
}

@keyframes desplazamiento-icon-article {
    0% {
        position: relative;
        top: -100px;
    }
    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes desplazamiento-header-article {
    0% {
        position: relative;
        top: -50px;
    }
    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes desplazamiento-texto-article {
    0% {
        position: relative;
        left: -150px;
    }
    100% {
        position: relative;
        left: 0px;
    }
}

#main {
    margin-left: 10px;
    margin-top: 90px;
}

#articles {
    width: 70%;
    height: 1025px;
    float: left;
}

#articles-header {
    display: block;
    background: url(img/pxgray.png) repeat;
    background-color: white;
    height: 75px;
    box-shadow: 3px 5px gray;
}

#articles h1 {    
    text-transform: uppercase;
    font-family: "BebasNeue";
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
}

#aside {
    display: block;
    float: left;
    margin-left: 90px;
    width: 21%;
}

#aside h4 {
    background: url(img/pxgray.png) repeat;
    background-color: white;
    height: 45px;
    box-shadow: 3px 5px gray;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "BebasNeue";
    letter-spacing: 2px;
    text-align: center;
    line-height: 50px;
}